@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import 'tailwindcss';
@import "remixicon/fonts/remixicon.css";

@plugin '@tailwindcss/forms';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
        --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

        /* BRAND COLORS */
        --color-brand-blue: #1762EC;
        --color-brand-purple: #6017EC;
        --color-brand-red: #EF4444;
        --color-brand-green: #028037;
        --color-brand-yellow: #FDE047;
        --color-brand-orange: #FF9F2A;
        --color-brand-orange-hover: #e17e05;
        --color-brand-pink: #FEA4FE;

        --font-figtree:
        Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        --font-rethink: "Rethink Sans", sans-serif;
        --font-playball: "Playball", cursive;
        --color-yellow: #FDE047;
        --color-green: #028037;
        --color-blue: #1762EC;
        --color-violet: #6017EC;
        --color-pink: #FEA4FE;
        --color-red: #EF4444;
        --color-orange: #FF9F2A;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

