@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
        --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

        /* BRAND COLORS */
        --color-brand-blue: #1762EC;
        --color-brand-purple: #6017EC;
        --color-brand-red: #EF4444;
        --color-brand-green: #028037;
        --color-brand-yellow: #FDE047;
        --color-brand-orange: #FF9F2A;
        --color-brand-orange-hover: #e17e05;
        --color-brand-pink: #FEA4FE;
}

